# Strings

- Sequence of Characters
- Used to store text data, like data read from a file.
- Typically Small Set of characters.
- Characters 'A' to 'Z' are stored as values from 65 to 90.
- Characters 'a' to 'z' are stored as values from 91 to 122.
- There is no char datatype in Python. So, a single character is just a string with a single character.

Strings in Python

In [10]:
# ord() function

print(ord("a")) 
print(ord("C"))
# ord() function gives the integer representation 
# of a single character. E.g - 'a' will return 97

97
67

In [18]:
# chr() function

print(chr(99))
print(chr(65))

# chr() function is the counter function of ord() 
# and returns the character representation of a given integer.

c
A

In [24]:
# Strings are iteratable.
# Like list we can use indexing to navigate through lists.
s = "geek"
print(s)
print(s[-2])
print(s[-1])
print(s[0])
print(s[1])

geek
e
k
g
e

In [26]:
# Strings are immutable.
# We cannot assign a value using a string index. It will cause an error.

s = "geek"
s[0] = "e"
print(s)

TypeError: 'str' object does not support item assignment

In [30]:
# Triple quoted strings in Python. Both single and double quotes are fine.
s = """Hallo,
Mein name ist Utkarsh Chouhan.
Ich komme aus Indien.
Ich lebe in New Delhi.
Und ich bin Student."""
print(s)

Hallo,
Mein name ist Utkarsh Chouhan.
Ich komme aus Indien.
Ich lebe in New Delhi.
Und ich bin Student.

## Escape Sequences and Raw Strings

In [34]:
s = 'Welcome to Utkarsh\'s Code-book'
print(s)
# Here \ is the escape character and it will tell Python 
# to treat the following symbol as a string, not a syntax part.

Welcome to Utkarsh's Code-book

In [39]:
s = "Hi,\nWelcome to Code"
print(s)

#Here \n is a new line escape sequence and it 
# will print the following text in a new line.

Hi,
Welcome to Code

In [42]:
s1 = "A simple \ example."
s2 = "Backslash at the end \\"
s3 = "\\n"
s4 = "\\t"

In [43]:
print(s1)
print(s2)
print(s3)
print(s4)

A simple \ example.
Backslash at the end \
\n
\t

In [44]:
# Raw Strings
Placing a 'r' before the string 

s1 = "c:\project\name.py"
s2 = r"c:\project\name.py"
print(s1)

print(s2)

c:\project
ame.py
c:\project\name.py